body {
	background: #f38e03;
	font-family: 'Fira Sans', sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1.header__site-name span {
	font-weight: bold;
	color: #fff;
	background: #d40400;
	padding: 4px 10px;
}

.node-article h2 a {
	color: #fff;
	text-decoration: none;
	background: #000;
	padding: 4px 10px;
}

.field-name-field-tags a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
}

.field-name-field-video {
  float: left;
  margin-right: 50px;
}

.node-readmore a {
	text-decoration: none;
	color: #fff;
	background: url('../images-source/more.png') 100% 0 no-repeat;
	float: right;
	display: block;
	width: 125px;
	height: 50px;
	padding: 6px 0 0 0;
}

.field-name-field-image .field-item {
  float: left;
  margin-right: 10px;
}

.field-name-field-tags .field-item {
  float: left;
  margin: 0 10px 0 0;
}

@media only screen 
    and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait),
only screen
    and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
        body {

        }

        .field-name-field-video {
        	float: none;
        	width: 100%;
        }
        .field-name-field-video img {
        	max-width: 100%;
        	width: 100%;
        }

        .field-name-body {
			clear: both;
		}
}

